{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"semi": false,
	"plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"],
	"organizeImportsSkipDestructiveCodeActions": true
}
